body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Header */

.header-wrapper {
    padding: 15px 0;
}

.nav-item {
    margin-left: 20px;
}

.logo {
    height: 40px;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.nav-items-center {
    align-items: center;

}

.nav-item {
    text-decoration: none;
    color: rgb(11, 15, 25);
    font-weight: 600;
    font-size: 18px;
    margin-right: 15px;
}

/* Hovers */

.nav-item:hover {
    color: #7476e6;
}

/* image */

img {
    max-width: 100%;
    height: auto;
}

.mode-icon {
    vertical-align: middle;
    height: 32px;
}

/* Buttons */

.btn-primary {
    text-decoration: none;
    background-color: #4044ee;
    color: white;
    border-radius: 8px;
    padding: 8px 30px;
    display: inline-block;
}

.btn-primary-apple {
    height: 45px;
    background-color: black;
    padding: 6px 10px;
    border-radius: 8px;
    margin-right: 15px;
}

.btn-primary-google {
    height: 45px;
    background-color: black;
    padding: 6px 10px;
    border-radius: 8px;
}

/* Buttons end */

.text {
    line-height: 1.2;
    font-size: 40px;
    margin: 0 0 30px 0;
}

/* Postions */

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;

}

.hero-sec-1 {
    padding: 48px 10px;
}

.p-m {
    padding: 30px 10px;
    margin-top: 30px;
}

.section-p {
    margin: 0 0 70px 0;
    color: grey;
}

/* Hero */

.hero-phone-1 {
    position: relative;
}

.hero-phone-2 {
    position: absolute;
    right: 0;
    max-width: 100%;
    height: auto;
}


.logos {
    width: 15.3%;
    margin: 4px 8px;
    border: 1px solid rgb(212, 212, 212);
    padding: 24px 8px;
    border-radius: 10px;
}

.logos:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.275rem 0.75rem -0.0625rem rgba(11, 15, 25, .06), 0 0.125rem 0.4rem -0.0625rem rgba(11, 15, 25, .03);
}


.card {
    max-width: 100%;
    height: auto;
    position: absolute;
    right: 22px;
}

.svg {
    padding: 6px;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 110px;
}

.svg-sec-6 {
    padding: 8px;
    background-color: #f7f7f7;
    border-radius: 10px;
    width: 50px;
}

.sec-p {
    padding: 48px 10px;
}


.bg-grey {
    color: grey;
}

.ml-20 {
    margin-left: 20px;
}

.mt-0 {
    margin-top: 0;
}

.ml-15p {
    margin-left: 15%;
}

.m-t-b-l-r {
    margin: 0 0 12px 0;
}

.spacing {
    line-height: 1.5;

}

.p-25 {
    padding: 25px;
}

.p18 {
    padding: 18px;
}

/* Colors */

.bg-ligth-blue {
    background-color: #f3f6ff;
}

.bg-blue {
    color: #2766ff;
}

/* Colors end */

.bg-blue-arrow {
    color: #2766ff;
    margin-top: 5px;
}

.text-center {
    text-align: center;
}


.s4-text-steps {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    margin: 0 0 20px 0;
}

.content {
    margin: 0 auto;
}

.screencard-1-sec-5 {
    left: 0;
}

.mb-16 {
    margin-bottom: 16px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-mb-20 {
    margin: 20px 0 20px 0;
}


.bg-white-arrow {
    color: white;
}

.btn-secondary {
    text-decoration: none;
    background-color: #4044ee;
    color: white;
    border-radius: 10px;
    padding: 12px 32px;
    display: inline-block;

}


.screencard-1-sec-6 {
    right: 10px;
}



/* alerts */

.alerts {

    margin: 10px auto 0 auto;
}

a:hover {
    text-decoration: none;
}

.alert-link {
    color: #474aae;
}

.alert-secondary .alert-link {
    color: #0b0f19;
}

.alert-success .alert-link {
    color: #198e44;
}

.alert-danger .alert-link {
    color: #ac3131;
}

.alert-warning .alert-link {
    color: #b88606;
}

.alert-info .alert-link {
    color: #365eb2;
}

.alert-light .alert-link {
    color: #0b0f19;
}

.alert-dark .alert-link {
    color: #fff;
}

.alert {
    padding: 16px;
    margin-bottom: 12px;
    border-radius: 10px;
}

.alert-primary {
    background-color: #eff0fe;
    color: #595cd9;
    border: 2px solid #b1b3f8;
}

.alert-secondary {
    background-color: #f3f5fd;
    color: #33354d;
    border: 2px solid #e2e5f1;
}

.alert-success {
    background-color: #e9f9ef;
    color: #1fb155;
    border: 2px solid #91e2af;
    ;
}

.alert-danger {
    background-color: #fdecec;
    color: #d73d3d;
    border: 2px solid #f7a2a2;
}

.alert-warning {
    background-color: #fff8e6;
    color: #e6a707;
    border: 2px solid #ffdd84;
}

.alert-info {
    background-color: #edf3fe;
    color: #4475de;
    border: 2px solid #a6c1fb;
}

.alert-light {
    background-color: #ffffff;
    color: #33354d;
    border: 2px solid #e7e7e7;
}

.alert-dark {
    background-color: #0b0f19;
    border: 2px solid #85878c;
    color: rgba(255, 255, 255, .85);
}


/* images */

.w25 {
    width: 25%;
}

.btn-ui {
    text-decoration: none;
    background-color: var(--button-background-color);
    border-radius: 8px;
    padding: 12px 22px;
    color: var(--button-color);
    display: inline-block;
}

.person-box {
    border: 2px solid rgb(219, 190, 247);
    margin: 2px;
}

.card-1 {
    display: flex;
}

.card-2 {
    display: flex;
    flex-direction: column;
}

.card-3 {
    display: flex;
    flex-direction: column-reverse;
}

.card-4 {
    display: flex;
    flex-direction: row-reverse;
}

.ui-s2 {
    padding: 20px 0;
}

/* headers */

.header-1 {
    border-radius: 6px;
    box-shadow: 1px 0px 5px 6px #cccaca;
    width: 1180px;
    margin: 24px auto;
}

.button {
    text-decoration: none;
    background-color: var(--button-background-color);
    border-radius: 8px;
    padding: 13px 27px;
    color: var(--button-color);
    display: inline-block;

}

.signup-icon {
    width: 20px;
    color: white;
    vertical-align: bottom;
}

.nav-tags {
    text-decoration: none;
    color: #61626c;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 14px;
}

.nav-tags:hover {
    color: var(--link-nav-color);
}

.nav-tag-1 {
    color: var(--link-nav-color);
}

.w85 {
    width: 85%;
}

.w15 {
    width: 15%;
}

.header-2 {
    border-radius: 6px;
    box-shadow: 1px 0px 5px 6px #cccaca;
    width: 1180px;
    margin: 24px auto;
}

.w66 {
    width: 66%;
}

.w34 {
    width: 34%;
}

.signup-icon-2 {
    width: 20px;
    color: rgb(49, 49, 49);
    vertical-align: bottom;
}

.button-2 {
    text-decoration: none;
    background-color: #eff2fc;
    border-radius: 8px;
    padding: 13px 22px;
    ;
    color: rgb(49, 49, 49);
    display: inline-block;

}

.header-3 {
    border-radius: 6px;
    box-shadow: 1px 0px 5px 6px #cccaca;
    width: 1180px;
    margin: 24px auto;
}

.w80 {
    width: 80%;
}

.w20 {
    width: 20%;
}

.signup-icon-3 {
    width: 35px;
    color: rgb(49, 49, 49);
    vertical-align: revert;
    margin-right: 10px;
    padding: 5px;
    background-color: #f1f4ff;
    border-radius: 16px;
}

.search-icon {
    width: 35px;
    color: rgb(49, 49, 49);
    vertical-align: revert;
    margin-right: 10px;
    padding: 5px;
    background-color: #f1f4ff;
    border-radius: 16px;
}

.cart-icon {
    width: 30px;
    color: rgb(49, 49, 49);
    vertical-align: revert;
    background-color: #cfd8f6;
    padding: 5px;
    width: 35px;
    border-radius: 16px;
}

.header-4 {
    border-radius: 6px;
    box-shadow: 1px 0px 5px 6px #cccaca;
    width: 1180px;
    margin: 24px auto;
}

.mobile-icon {
    width: 40px;
    color: rgb(100, 100, 250);
}

.header-4-heading {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.w65 {
    width: 65%;
}

.w35 {
    width: 35%;
}

.tweet-icon {
    width: 40px;
    color: rgb(100, 100, 250);
}

.tweet-icon-padding {
    padding-right: 10px;
}

.mobile-icon-padding {
    padding-right: 10px;
}

.icons-header-4-div-w20 {
    margin: 0 auto;
}

.header-5 {
    border-radius: 6px;
    box-shadow: 1px 0px 5px 6px #cccaca;
    width: 1180px;
    margin: 24px auto;
}

.image-header-5 {
    width: 41px;
    border-radius: 19px;
}














.arrow {
    width: 17px;
    vertical-align: middle;
}


.font-size {
    font-size: 42px;
}

.font-weight {
    font-weight: 700;
}




.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w33 {
    width: 33.33%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

/* Tablet View */
@media (max-width:1024px) {
    .tablet-w-10 {
        width: 10%;
    }

    .tablet-w-15 {
        width: 15%;
    }

    .tablet-w-20 {
        width: 20%;
    }

    .tablet-w-30 {
        width: 30%;
    }

    .tablet-w-40 {
        width: 40%;
    }

    .tablet-w-50 {
        width: 50%;
    }

    .tablet-w-60 {
        width: 60%;
    }

    .tablet-w-70 {
        width: 70%;
    }

    .tablet-w-80 {
        width: 80%;
    }

    .tablet-w-90 {
        width: 90%;
    }

    .tablet-w-100 {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .nav-items,
    .btn-primary {
        display: none;
    }


}

/* Mobile View */
@media (max-width:767px) {
    .mobile-w-10 {
        width: 10%;
    }

    .mobile-w-20 {
        width: 20%;
    }

    .mobile-w-30 {
        width: 30%;
    }

    .mobile-w-40 {
        width: 40%;
    }

    .mobile-w-45 {
        width: 45%;
    }

    .mobile-w-50 {
        width: 50%;
    }

    .mobile-w-60 {
        width: 60%;
    }

    .mobile-w-70 {
        width: 70%;
    }

    .mobile-w-80 {
        width: 80%;
    }

    .mobile-w-90 {
        width: 90%;
    }

    .mobile-w-100 {
        width: 100%;
    }

    .text,
    .section-p {
        text-align: center;
    }

    .hero-sec-1 {
        padding-top: 5px;
        margin-top: 0;
    }

    .header-wrapper {
        padding: 10px 0;
    }

    .display {
        display: none;
    }

    .mobile-p-10 {
        padding: 10px;
    }

    .mobile-flex-wrap {
        flex-wrap: wrap;
    }

    .mobile-text-center {
        text-align: center;
    }

    .ml-15p {
        margin-left: 0;
    }

    .font-size {
        font-size: 30px;
    }

    .font-weight {
        font-weight: 700;
    }


}

@media (min-width:1025px) {
    .hamburger-icon {
        display: none !important;
    }
}